:root {
  --app-c-white: hsl(255, 100%, 100%);
  --app-c-gray: hsl(217, 16%, 45%);
  --app-c-blue: hsl(229, 64%, 46%);

  --app-c-game-score-title: var(--app-c-blue);
  --app-c-game-score-bg: var(--app-c-white);

  --app-c-game-rules-btn-text: var(--app-c-white);
  --app-c-game-rules-btn-border: var(--app-c-white);
  --app-c-game-title: var(--app-c-white);
  --app-c-header-outline: var(--app-c-gray);
  --app-dark-text: hsl(229, 25%, 31%);
}

@font-face {
  font-family: "Barlow Semi Condensed";
  src: url("/fonts/BarlowSemiCondensed-SemiBold.ttf")
      format("embedded-opentype"),
    url("/fonts/BarlowSemiCondensed-SemiBold.ttf") format("woff2"),
    url("/fonts/BarlowSemiCondensed-SemiBold.ttf") format("woff"),
    url("/fonts/BarlowSemiCondensed-SemiBold.ttf") format("truetype"),
    url("/fonts/BarlowSemiCondensed-SemiBold.ttf") format("svg");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Barlow Semi Condensed";
  src: url("/fonts/BarlowSemiCondensed-Bold.ttf") format("embedded-opentype"),
    url("/fonts/BarlowSemiCondensed-Bold.ttf") format("woff2"),
    url("/fonts/BarlowSemiCondensed-Bold.ttf") format("woff"),
    url("/fonts/BarlowSemiCondensed-Bold.ttf") format("truetype"),
    url("/fonts/BarlowSemiCondensed-Bold.ttf") format("svg");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

#root {
  position: relative;
  display: block;
}

#root > * {
  min-height: 100vh;
}

body {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
  min-height: 100vh;
  min-height: 100dvh;
}

body {
  font-family: "Barlow Semi Condensed", sans-serif;
  font-weight: 600;
  font-style: normal;

  background-color: #1f3756;

  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' preserveAspectRatio='none' width='100%' height='100%'><defs><radialGradient id='g' cx='50%' cy='50%' r='75%'><stop offset='0%' stop-color='%231f3756'/><stop offset='100%' stop-color='%23141539'/></radialGradient></defs><rect width='100%' height='100%' fill='url(%23g)'/></svg>");

  background-image: -webkit-gradient(
    radial,
    50% 50%,
    0,
    50% 50%,
    300,
    from(hsl(214, 47%, 23%)),
    to(hsl(237, 49%, 15%))
  );

  background-image: -webkit-radial-gradient(
    circle at center,
    hsl(214, 47%, 23%) 0%,
    hsl(237, 49%, 15%) 100%
  );
  background-image: -moz-radial-gradient(
    circle at center,
    hsl(214, 47%, 23%) 0%,
    hsl(237, 49%, 15%) 100%
  );
  background-image: -o-radial-gradient(
    circle at center,
    hsl(214, 47%, 23%) 0%,
    hsl(237, 49%, 15%) 100%
  );

  background-image: radial-gradient(
    circle at center,
    hsl(214, 47%, 23%) 0%,
    hsl(237, 49%, 15%) 100%
  );

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: #fff;
}

button {
  font-family: "Barlow Semi Condensed", sans-serif;
  border: 2px solid var(--app-c-game-rules-btn-border);
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  border-radius: 8px;
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 2px;
  cursor: pointer;
  max-width: 150px;
}
