.polygon-container {
  width: inherit;
  height: inherit;
  display: flex;
  justify-content: center;
  align-items: center;

  --space-between-components: 90px;
}

#polygon-svg.fade-hide {
  opacity: 0;
}
#polygon-svg {
  width: 100%;
  height: 100%;
  transform: scale(0.7) translate(0, 10px);
  transition: opacity 1000ms ease-in-out;
  opacity: 1;
}

:host {
  display: flex;
  height: 100%;
}

@media screen and (min-width: 768px) {
  .polygon-container {
    --space-between-components: 140px;
  }
  #polygon-svg {
    transform: scale(0.9) translate(0, 85px);
  }
}
